.about {
  padding: 20px 0;
  overflow-x: hidden;

  @media (min-width: $tablet) {
    padding: 40px 48px 40px 0;
    display: flex;
    align-items: center;
    position: relative;
    max-width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    padding: 100px 120px 100px 0;
    max-width: 1440px;
    align-items: flex-start;
  }
}

.about__picture {
  display: block;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;

  @media (min-width: $tablet) {
    position: absolute;
    height: 350px;
    width: 492px;
  }

  @media (min-width: $desktop) {
    position: relative;
    height: 498px;
    width: 660px;
  }
}

.about__photo {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: -78px -11px;
  transform: scale(1.05);

  @media (min-width: $tablet) {
    height: 328px;
    width: 492px;
    transform: none;
    object-position: -23px 17px;
  }

  @media (min-width: $desktop) {
    height: 498px;
    width: 724px;
    object-position: -97px 3px;
  }
}

.about__wrapper {
  padding: 0 15px;
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    padding: 0;
    z-index: 5;
    margin: 0 0 0 auto;
    max-width: 270px;
  }

  @media (min-width: $desktop) {
    max-width: 660px;
    padding-top: 13px;
  }
}

.about h2 {
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  padding-top: 17px;
  margin: 0 0 42px;
  position: relative;

  @media (min-width: $tablet) {
    font-size: 25px;
    line-height: 25px;
    padding-top: 20px;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop) {
    padding-top: 32px;
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 59px;
  }
}

.about__title-double {
  bottom: 0;

  @media (min-width: $desktop) {
    bottom: 19px;
  }
}

.about__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 26px;

  @media (min-width: $tablet) {
    gap: 28px;
  }

  @media (min-width: $desktop) {
    padding-right: 75px;
  }
}

.about__item {
  @media (min-width: $desktop) {
    max-width: 585px;
  }
}

.about h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  margin: 0 0 14px;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 12px;
  }

  @media (min-width: $desktop) {
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 17px;
  }
}

.about p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    font-size: 14px;
    line-height: 22px;
  }
}
