.about {
  padding: 20px 0;
  overflow-x: hidden;

  @media (min-width: $tablet) {
    padding: 40px 48px 40px 0;
    display: flex;
    align-items: center;
    position: relative;
    max-width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    padding: 100px 120px 100px 0;
    max-width: 1440px;
  }
}

.about__photo {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 25% 50%;
  transform: scale(1.02);

  @media (min-width: $tablet) {
    transform: none;
    height: 350px;
    width: 542px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  @media (min-width: $desktop) {
    height: 498px;
    width: 660px;
  }
}

.about__wrapper {
  padding: 0 15px;
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    padding: 0;
    z-index: 5;
    margin: 0 0 0 auto;
    max-width: 270px;
  }

  @media (min-width: $desktop) {
    max-width: 660px;
  }
}

.about h2 {
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  padding-top: 16px;
  margin: 0 0 42px;
  position: relative;

  @media (min-width: $tablet) {
    min-width: 542px;
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop) {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 74px;
  }
}

.about__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;

  @media (min-width: $desktop) {
    padding-right: 75px;
  }
}

.about__item {
  @media (min-width: $desktop) {
    max-width: 585px;
  }
}

.about h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  margin: 0 0 15px;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop) {
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 20px;
  }
}

.about p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    font-size: 14px;
    line-height: 22px;
  }
}
