.contacts {
  padding: 19px 0;
  margin: 0 auto;
  max-width: 320px;

  @media (min-width: $tablet) {
    padding: 40px 0 39px;
    max-width: 768px;
  }

  @media (min-width: $desktop) {
    padding: 100px 120px 93px;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.contacts__wrapper {
  padding: 0 15px;

  @media (min-width: $tablet) {
    padding: 0 40px 0 45px;
  }

  @media (min-width: $desktop) {
    max-width: 600px;
    padding: 0;
  }
}

.contacts__title {
  margin-bottom: 27px;

  @media (min-width: $tablet) {
    margin-bottom: 21px;
    padding-top: 20px;
  }

  @media (min-width: $desktop) {
    padding-top: 23px;
    margin-bottom: 23px;
  }
}

.contacts__title-double {
  @media (min-width: $tablet) {
    bottom: 0;
  }

  @media (min-width: $desktop) {
    bottom: -3px;
  }
}

.contacts p {
  margin: 0 0 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet) {
    max-width: 480px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop) {
    max-width: 500px;
    margin-bottom: 49px;
  }
}

.contacts__list {
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet) {
    flex-direction: row;
    gap: 40px;
    margin-bottom: 39px;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
    gap: 34px;
    margin: 0;
  }
}

.contacts__item {
  padding-left: 32px;
  position: relative;

  @media (min-width: $tablet) {
    padding-left: 34px;
  }

  @media (min-width: $desktop) {
    padding-left: 56px;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 22px;
    height: 22px;
    top: 0;
    left: 0;
    background-color: $base-color;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;

    @media (min-width: $tablet) {
      width: 24px;
      height: 24px;
    }

    @media (min-width: $desktop) {
      width: 26px;
      height: 26px;
      top: 11px;
    }
  }

  &--phone::before {
    mask-image: url("/__spritemap#sprite-phone-view");
  }

  &--email::before {
    mask-image: url("/__spritemap#sprite-mail-view");
  }

  &--address::before {
    mask-image: url("/__spritemap#sprite-pin-stroke-view");
  }
}

.contacts__type {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 8px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 6px;
  }

  @media (min-width: $desktop) {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 9px;
  }
}

.contacts__link {
  display: block;
  text-decoration: none;
  color: $base-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet) {
    line-height: 22px;
  }

  @media (min-width: $desktop) {
    font-size: 16px;
    line-height: 24px;
  }
}

.contacts__link:hover {
  text-decoration: underline;
}

.contacts__link:focus {
  outline: none;
}

.contacts__link:focus-visible {
  outline: 1px solid $base-color;
}

.contacts__link:active {
  color: $additional-color;
  text-decoration: none;
  outline-color: transparent;
}

.contacts__address {
  display: block;
  color: $base-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  max-width: 180px;

  @media (min-width: $tablet) {
    line-height: 12px;
    max-width: none;
    padding-top: 5px;
  }

  @media (min-width: $desktop) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 0;
  }
}

.contacts__map {
  display: block;


  @media (min-width: $desktop) {
    font-size: 16px;
    line-height: 24px;
  }
}
