.header {
  position: relative;
  width: 100%;
  background-color: $additional-color;
  padding: 15px 15px 13px;

  @media (min-width: $tablet) {
    padding: 20px 45px;
  }

  @media (min-width: $desktop) {
    padding: 32px 120px;
  }
}
