.header {
  width: 100%;
  background-color: $additional-color;
  padding: 0 0 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    padding: 0 22px;
  }

  @media (min-width: $desktop) {
    width: 1440px;
    padding: 0 40px;
    margin: 0 auto;
  }
}

.header__link {
  display: block;
  height: 42px;
}

.header__logo {
  fill: $base-color-ondark;
}

.header__link:hover {
  opacity: 0.8;
}

.header__link:focus {
  outline: none;
  opacity: 0.8;
}

.header__link:active {
  opacity: 0.6;
}
