.instructor__wrapper {
  margin: 0 auto;
  border: 1px solid rgb(2, 102, 193, 0.1);
  padding: 15px;
  min-height: 356px;
  max-width: 290px;
  background-color: #ffffff;

  @media (min-width: $tablet) {
    min-height: 388px;
  }

  @media (min-width: $desktop) {
    min-height: 356px;
  }
}

.instructor__photo {
  display: block;
  margin: 0 auto 15px;
  width: 260px;
  height: 200px;
  object-fit: cover;

  @media (min-width: $tablet) {
    width: 182px;
  }

  @media (min-width: $desktop) {
    width: 255px;
  }
}

.instructor__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.instructor h4 {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.instructor__link {
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid rgb(45, 56, 63, 0.3);
  position: relative;
}

.instructor__link::before {
  position: absolute;
  display: block;
  content: "";
  width: 14px;
  height: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $base-color;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: url("/__spritemap#sprite-vk-icon-view");
}

.instructor__link:hover {
  border-color: $base-color;
}

.instructor__link:focus {
  background-color: #ffffff;
  outline: none;
  border: none;
}

.instructor__link:active {
  background-color: $additional-color;
  border: none;

  &::before {
    background-color: $base-color-ondark;
  }
}

.instructor__link:disabled {
  border-color: $base-color;
  opacity: 0.3;
}

.instructor p {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
