.request {
  background: $additional-color;
  background-image: image-set(url("../../img/form-background@1x.webp"), url("../../img/form-background@1x.jpg"));
  background-repeat: no-repeat;
  background-position: -600px -56px;
  background-size: 1377px 747px;
  min-height: 638px;

  @media (resolution >= 2dppx) {
    background-image: image-set(url("../../img/form-background@2x.webp"), url("../../img/form-background@2x.jpg"));
  }

  @media (min-width: $tablet) {
    min-height: 680px;
    background-position: 61% 51%;
    background-size: 191% 117%;
  }

  @media (min-width: $desktop) {
    min-height: 760px;
    background-size: 100% 100%;
  }
}

.request__wrapper {
  padding: 177px 31px 174px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 320px;

  @media (min-width: $tablet) {
    padding: 187px 204px 174px;
    max-width: 768px;
  }

  @media (min-width: $desktop) {
    padding: 296px 40px 80px;
    max-width: 1440px;
  }
}

.request h2 {
  margin: 0 0 17px;
  padding: 0;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  color: $base-color-ondark;

  @media (min-width: $tablet) {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop) {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 18px;
  }
}

.request p {
  margin: 0 0 20px;
  padding: 0 20px 0 21px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: $base-color-ondark;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 23px;
    padding: 0 20px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 38px;
  }
}

.request__form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: $tablet) {
    gap: 11px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.request__input {
  border: 1px solid rgb(2, 102, 193, 0.1);
  border-radius: 2px;
  width: 258px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  background-color: $base-color-ondark;
  padding: 17px 15px;
  color: rgb(45, 56, 63, 0.5);

  @media (min-width: $tablet) {
    width: 360px;
    height: 56px;
    padding: 17px 29px;
  }
}

.request__input:hover {
  border-color: $additional-color;
}

.request__input:focus {
  border-color: $base-color;
  color: $base-color;
  outline: none;
}

.request__input:disabled {
  border-color: $disabled-color;
  color: rgb(153, 153, 153, 0.5);
}

.request__input.error {
  border-color: #ff121f;
}


.request__button {
  width: 258px;
  height: 58px;

  @media (min-width: $tablet) {
    width: 360px;
    height: 56px;
  }

  @media (min-width: $desktop) {
    width: 180px;
  }
}
