.reviews {
  padding: 0;
  margin: 0 auto;
  max-width: 320px;

  @media (min-width: $tablet) {
    max-width: none;
    padding: 40px 0 20px;
  }

  @media (min-width: $desktop) {
    padding: 100px 0;
  }
}

.reviews__swiper-header {
  padding: 20px 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media (min-width: $tablet) {
    margin-bottom: 10px;
    padding: 20px 45px 0;
    align-items: flex-start;
  }

  @media (min-width: $desktop) {
    align-items: flex-end;
    margin-bottom: 23px;
    padding: 0 120px;
  }
}

.reviews__title {
  padding-top: 17px;

  @media (min-width: $tablet) {
    padding: 0;
  }

  @media (min-width: $desktop) {
    padding: 45px 0 0;
  }
}

.reviews__title-double {
  bottom: 10px;

  @media (min-width: $tablet) {
    bottom: 0;
  }

  @media (min-width: $desktop) {
    bottom: 20px;
  }
}

.reviews__swiper-navigation {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    gap: 4px;
    top: -50px;
    right: 0;
  }
}

.reviews__swiper-wrapper {
  @media (min-width: $tablet) {
    margin-left: 30px;
  }

  @media (min-width: $desktop) {
    margin-left: 115px;
  }
}

.reviews__swiper-slide.swiper-slide {
  @media (min-width: $tablet) {
    width: 595px;
  }

  @media (min-width: $desktop) {
    width: 730px;
  }
}

.reviews__wrapper {
  margin: 15px 15px 20px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0 0 20px rgb(28, 51, 116, 0.1);
  padding: 20px 19px 18px;
  min-height: 484px;
  max-width: 290px;

  @media (min-width: $tablet) {
    display: flex;
    gap: 30px;
    min-height: 277px;
    max-width: 565px;
    padding: 19px;
  }

  @media (min-width: $desktop) {
    min-height: 293px;
    padding-right: 40px;
    padding-top: 18px;
    max-width: 700px;
  }
}

.reviews__picture {
  display: block;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet) {
    width: 186px;
    height: 237px;
  }

  @media (min-width: $desktop) {
    width: 258px;
    height: 253px;
  }
}

.reviews__photo {
  display: block;
  margin-bottom: 19px;

  @media (min-width: $tablet) {
    width: 186px;
    height: 237px;
    object-fit: cover;
    object-position: 50% 50%;
    margin: 0;
  }

  @media (min-width: $desktop) {
    width: 258px;
    height: 254px;
  }
}

.reviews__box {
  @media (min-width: $tablet) {
    padding-top: 4px;
  }

  @media (min-width: $desktop) {
    padding-top: 0;
  }
}

.reviews p {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 16px;

  @media (min-width: $tablet) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop) {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 3px;
  }
}

.reviews p:first-of-type {
  margin-bottom: 10px;
}

.reviews__name {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 8px;

  @media (min-width: $tablet) {
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 7px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 9px;
  }
}

.reviews__details {
  display: block;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
}
