.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.social__link {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(45, 56, 63, 0.3);
  position: relative;

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $base-color;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }

  &--vk::before {
    width: 14px;
    height: 8px;
    mask-image: url("/__spritemap#sprite-vk-icon-view");
  }

  &--ok::before {
    width: 9px;
    height: 16px;
    mask-image: url("/__spritemap#sprite-ok-icon-view");
  }

  &--reddit::before {
    width: 14px;
    height: 15px;
    mask-image: url("/__spritemap#sprite-reddit-icon-view");
  }
}

.social__link:hover {
  border-color: $base-color;
}
.social__link:focus {
  background-color: #ffffff;
  outline: none;
  border: none;
}
.social__link:active {
  background-color: $additional-color;
  border: none;

  &::before {
    background-color: $base-color-ondark;
  }
}
.social__link:disabled {
  border-color: $base-color;
  opacity: 0.3;
}
