.swiper__slide {
  min-height: 568px;
  padding: 40px 15px;
  background-color: $additional-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  position: relative;

  &--caucasus {
    background-image: $slider-overlay, image-set(url("../../img/slide-background-caucasus@1x.webp"), url("../../img/slide-background-caucasus@1x.jpg"));

    @media (resolution >= 2dppx) {
      background-image: $slider-overlay, image-set(url("../../img/slide-background-caucasus@2x.webp"), url("../../img/slide-background-caucasus@2x.jpg"));
    }
  }

  &--kamchatka {
    background-image: $slider-overlay, image-set(url("../../img/slide-background-kamchatka@1x.webp"), url("../../img/slide-background-kamchatka@1x.jpg"));

    @media (resolution >= 2dppx) {
      background-image: $slider-overlay, image-set(url("../../img/slide-background-kamchatka@2x.webp"), url("../../img/slide-background-kamchatka@2x.jpg"));
    }
  }

  &--altai {
    background-image: $slider-overlay, image-set(url("../../img/slide-background-altai@1x.webp"), url("../../img/slide-background-altai@1x.jpg"));

    @media (resolution >= 2dppx) {
      background-image: $slider-overlay, image-set(url("../../img/slide-background-altai@2x.webp"), url("../../img/slide-background-altai@2x.jpg"));
    }
  }

  @media (min-width: $tablet) {
    min-height: 1034px;
    padding: 30px 45px;
  }

  @media (min-width: $desktop) {
    padding: 200px 120px 80px;
    min-height: 800px;
  }
}

.swiper__slide-wrapper {
  min-height: 472px;
  max-width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 60px 0;

  @media (min-width: $tablet) {
    max-width: 678px;
    min-height: 913px;
  }

  @media (min-width: $desktop) {
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: left;
    max-width: 1200px;
    min-height: unset;
    top: 0;
    left: 0;
    transform: none;
  }
}

.swiper__slide h2 {
  max-width: 290px;
  margin: 0 0 15px;
  padding: 0;
  font-weight: 800;
  font-size: 26px;
  line-height: 26px;
  color: $base-color-ondark;

  @media (min-width: $tablet) {
    max-width: 678px;
    font-size: 56px;
    line-height: 56px;
  }

  @media (min-width: $desktop) {
    font-size: 77px;
    line-height: 77px;
    max-width: 946px;
    margin-bottom: 23px;
  }
}

.swiper__slide p {
  max-width: 290px;
  margin: 0 auto 61px;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: $base-color-ondark;

  @media (min-width: $tablet) {
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 24px;
    max-width: 500px;
  }

  @media (min-width: $desktop) {
    margin: 0 0 37px;
    max-width: 470px;
  }
}

.swiper__link {
  margin: 0 auto;
  display: flex;
  width: 180px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $base-color-ondark;

  @media (min-width: $desktop) {
    margin: 0 0 134px;
  }
}

.swiper__box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.swiper__label {
  display: none;
  position: relative;

  @media (min-width: $desktop) {
    display: block;
    padding: 13px 19px 13px 39px;
    border: 1px solid rgb(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $base-color-ondark;
  }
}

.swiper__label--level {
  padding-right: 20px;
}

.swiper__label::before {
  position: absolute;
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  background-color: #ffffff;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.swiper__label--days::before {
  mask-image: url("/__spritemap#sprite-moon-view");
}

.swiper__label--level::before {
  mask-image: url("/__spritemap#sprite-level-view");
}

.swiper__pagination {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 20px;

  @media (min-width: $desktop) {
    bottom: 92px;
    left: 1220px;
    transform: none;
  }
}

.swiper__pagination .swiper-pagination-bullet {
  display: block;
  background: transparent;
  border: 1px solid $base-color-ondark;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $tablet) {
    width: 20px;
    height: 20px;
  }
}

.swiper__pagination .swiper-pagination-bullet-active {
  background: $base-color-ondark;
}

.swiper__pagination .swiper-pagination-bullet:hover {
  background: #d9d9d9;
}

.swiper__pagination .swiper-pagination-bullet:focus {
  outline: 1px solid rgb(255, 255, 255, 0.5);
  outline-offset: 1px;
}

.swiper__pagination .swiper-pagination-bullet:active {
  background: rgb(255, 255, 255, 0.5);
}

.swiper__slide-box {
  min-height: 365px;
  display: none;

  @media (min-width: $tablet) {
    display: block;
    position: relative;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 50%;
    right: 120px;
    transform: translateY(-50%);
  }
}

.swiper__slide-photo-1 {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    width: 194px;
    height: 266px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-190px, -50%) rotate(-17.7deg);
  }

  @media (min-width: $desktop) {
    width: 225px;
    height: 308px;
  }
}

.swiper__slide-photo-2 {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    width: 167px;
    height: 229px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(30px, -40%) rotate(20deg);
  }

  @media (min-width: $desktop) {
    width: 196px;
    height: 270px;
    transform: translate(-25px, -40%) rotate(20deg);
  }
}

.swiper-button {
  display: block;
  width: 37px;
  height: 35px;
  background-color: $additional-color;
  position: relative;
  border: none;
  cursor: pointer;

  &--next {
    transform: scaleX(-1);
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 14px;
    height: 10px;
    background-color: #ffffff;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    mask-image: url("/__spritemap#sprite-arrow-view");
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.swiper-button:hover {
  background-color: transparent;
  border: 1px solid $active-color;

  &::after {
    background-color: $active-color;
  }
}

.swiper-button:focus {
  background-color: #ffffff;

  &::after {
    background-color: $active-color;
  }
}

.swiper-button:active {
  background-color: $active-color;
}

.swiper-button:disabled {
  pointer-events: none;
  cursor: default;
  background-color: $disabled-color;
}
