/* здесь подключите шрифты */
@include font-face("Montserrat ExtraBold", 800, normal, url("../../fonts/montserrat-extrabold.woff2") format("woff2"));
@include font-face("Montserrat Bold", 700, normal, url("../../fonts/montserrat-bold.woff2") format("woff2"));
@include font-face("Montserrat SemiBold", 600, normal, url("../../fonts/montserrat-semibold.woff2") format("woff2"));
@include font-face("Montserrat Medium", 500, normal, url("../../fonts/montserrat-medium.woff2") format("woff2"));
@include font-face("Montserrat Regular", 400, normal, url("../../fonts/montserrat-regular.woff2") format("woff2"));
@include font-face("Montserrat Light", 300, normal, url("../../fonts/montserrat-light.woff2") format("woff2"));
