*,
*::before,
*::after {
  box-sizing: border-box;
}

.page-body {
  min-width: 320px;
  font-family: $primary-font;
  color: $base-color;
}

.button {
  display: block;
  border: none;
  min-width: 180px;
  min-height: 56px;
  box-sizing: border-box;
  color: $base-color-ondark;
  background-color: $base-button-color;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  cursor: pointer;
}

.button:hover {
  background-color: $base-background-color;
  color: $active-color;
  border: 1px solid $active-color;
}

.button:focus {
  background-color: $base-background-color;
  color: $active-color;
  outline: none;
}

.button:active {
  background-color: $active-color;
}

.button:disabled {
  background-color: #999999;
}

.title {
  width: 100%;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  padding-top: 19px;
  margin: 0;
  position: relative;

  @media (min-width: $tablet) {
    min-width: 542px;
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop) {
    font-size: 35px;
    line-height: 35px;
  }
}

.title-double {
  position: absolute;
  bottom: 12px;
  left: 0;
  font-weight: 800;
  font-size: 26px;
  line-height: 26px;
  opacity: 0.03;

  @media (min-width: $tablet) {
    font-size: 40px;
    line-height: 40px;
    bottom: 4px;
  }

  @media (min-width: $desktop) {
    font-size: 55px;
    line-height: 55px;
    bottom: -1px;
  }
}
