/* здесь используйте глобальные переменные */
$primary-font: "Montserrat", "Arial", sans-serif;
$base-color: #2d383f;
$additional-color: #0266c1;
$base-color-ondark: #ffffff;
$base-button-color: #0266c1;
$text-button-color: #2d383f;
$base-background-color: #ffffff;
$base-icon-color: #2d283f;
$additional-icon-color: #0266c1;
$icon-color-ondark: #ffffff;
$active-color: #1c3374;
$disabled-color: #999999;
$slider-overlay: linear-gradient(112.1deg, rgb(15, 20, 41, 0.11) 17.23%, rgb(15, 20, 41, 0) 94.93%);
$card-overlay: linear-gradient(0deg, rgb(0, 0, 0, 0.1) 22.3%, rgb(0, 0, 0, 0) 60.32%);
$menu-overlay: rgb(45, 56, 63, 0.6);
$tablet: 768px;
$desktop: 1440px;
