/* здесь используйте глобальные переменные */
$primary-font: "Montserrat", "Arial", sans-serif;

$base-color: #2d383f;
$additional-color: #0266c1;
$base-color-ondark: #ffffff;
$base-button-color: #0266c1;
$text-button-color: #2d383f;
$base-background-color: #ffffff;
$base-icon-color: #2d283f;
$additional-icon-color: #0266c1;
$icon-color-ondark: #ffffff;
$active-color: #1c3374;
$disabled-color: #999999;

$slider-overlay: linear-gradient(112.1deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0) 94.93%);
$card-overlay: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 22.3%, rgba(0, 0, 0, 0) 60.32%);
$menu-overlay: #2d383f;

$tablet: 768px;
$desktop: 1440px;
