// Vendor
// ---------------------------------

@import "vendor/normalize";

// Common
// ---------------------------------
@import "./common/mixins";
@import "./common/fonts";
@import "./common/variables";
@import "./common/global";
@import "./common/visually-hidden";

// Blocks
// ---------------------------------
@import "./blocks/header";
@import "./blocks/nav";
@import "./blocks/menu";
@import "./blocks/main";
@import "./blocks/swiper";
@import "./blocks/tours";
@import "./blocks/training";
@import "./blocks/instructor";
@import "./blocks/about";
@import "./blocks/reviews";
@import "./blocks/advantages";
@import "./blocks/gallery";
@import "./blocks/request";
@import "./blocks/contacts";
@import "./blocks/footer";
@import "./blocks/social";
